body{
    padding: 20px;
    padding-left: 300px;
    float:left;
    background-color: black;
    color:white;
}

.moves, .cube{
    display: block;
    float: left;
}

.cube{
    margin-left: 50px;
    margin-top: 20px;
}