body{
    /* padding: 20px; */
    /* padding-left: 300px; */
    float:left;
    background-color: black;
    color:white;
}

.moves, .cube, .scramble, .cross{
    margin: 30px;
    display: block;
    float: left;
}
.cross{
    margin:70px
}

.cube{
    margin-left: 50px;
    margin-top: 20px;
}

.cross-div{
    width: 150px;
}